In [3]:
pd.__version__

'2.2.2'

In [4]:
import pandas as pd

In [5]:
# Load the dataset
df = pd.read_csv("sales_data.csv")

# Display the dataset
print("Dataset:")
print(df)

Dataset:
    Order_ID      Product     Category  Quantity  Price     Month
0       1001     Notebook   Stationery        50    120   January
1       1002       Laptop  Electronics         2  45000   January
2       1003      Pen Set   Stationery       100    250   January
3       1004        Mouse  Accessories        15    350  February
4       1005     Keyboard  Accessories        12    800  February
5       1006      Printer  Electronics         3   8500  February
6       1007   Marker Set   Stationery        80    180  February
7       1008   Headphones  Accessories        20   1200     March
8       1009    USB Drive  Accessories        35    400     March
9       1010      Scanner  Electronics         5   6500     March
10      1011   Calculator   Stationery        40    350     April
11      1012       Webcam  Accessories         8   2500     April
12      1013       Tablet  Electronics         4  25000     April
13      1014  File Folder   Stationery       120    150     April
14      1015      Monitor  Electronics         6  12000     April

In [6]:
# Create Total_Revenue column
df["Total_Revenue"] = df["Quantity"] * df["Price"]

# Total revenue generated for each product
print("\nTotal revenue for each product:")
print(df.groupby("Product")["Total_Revenue"].sum())

Total revenue for each product:
Product
Calculator      14000
File Folder     18000
Headphones      24000
Keyboard         9600
Laptop          90000
Marker Set      14400
Monitor         72000
Mouse            5250
Notebook         6000
Pen Set         25000
Printer         25500
Scanner         32500
Tablet         100000
USB Drive       14000
Webcam          20000
Name: Total_Revenue, dtype: int64

In [7]:
# Total units sold for each category
print("\nTotal quantity sold for each category:")
print(df.groupby("Category")["Quantity"].sum())

Total quantity sold for each category:
Category
Accessories     90
Electronics     20
Stationery     390
Name: Quantity, dtype: int64

In [8]:
# Average price per unit for each category
print("\nAverage price per unit for each category:")
print(df.groupby("Category")["Price"].mean())

Average price per unit for each category:
Category
Accessories     1050.0
Electronics    19400.0
Stationery       210.0
Name: Price, dtype: float64

In [9]:
# Product with maximum units sold
print("\nProduct with maximum quantity sold:")
print(df.loc[df["Quantity"].idxmax()])

Product with maximum quantity sold:
Order_ID                1014
Product          File Folder
Category          Stationery
Quantity                 120
Price                    150
Month                  April
Total_Revenue          18000
Name: 13, dtype: object

In [10]:
# Total revenue for each month
print("\nTotal revenue for each month:")
print(df.groupby("Month")["Total_Revenue"].sum())

Total revenue for each month:
Month
April       224000
February     54750
January     121000
March        70500
Name: Total_Revenue, dtype: int64

In [11]:
# Products where Quantity is greater than 40
print("\nProducts with quantity greater than 40:")
print(df[df["Quantity"] > 40])

Products with quantity greater than 40:
    Order_ID      Product    Category  Quantity  Price     Month  \
0       1001     Notebook  Stationery        50    120   January
2       1003      Pen Set  Stationery       100    250   January
6       1007   Marker Set  Stationery        80    180  February
13      1014  File Folder  Stationery       120    150     April

    Total_Revenue
0            6000
2           25000
6           14400
13          18000

In [12]:
# Sort dataset by Total_Revenue in descending order
print("\nDataset sorted by Total_Revenue (Descending):")
print(df.sort_values(by="Total_Revenue", ascending=False))

Dataset sorted by Total_Revenue (Descending):
    Order_ID      Product     Category  Quantity  Price     Month  \
12      1013       Tablet  Electronics         4  25000     April
1       1002       Laptop  Electronics         2  45000   January
14      1015      Monitor  Electronics         6  12000     April
9       1010      Scanner  Electronics         5   6500     March
5       1006      Printer  Electronics         3   8500  February
2       1003      Pen Set   Stationery       100    250   January
7       1008   Headphones  Accessories        20   1200     March
11      1012       Webcam  Accessories         8   2500     April
13      1014  File Folder   Stationery       120    150     April
6       1007   Marker Set   Stationery        80    180  February
8       1009    USB Drive  Accessories        35    400     March
10      1011   Calculator   Stationery        40    350     April
4       1005     Keyboard  Accessories        12    800  February
0       1001     Notebook   Stationery        50    120   January
3       1004        Mouse  Accessories        15    350  February

    Total_Revenue
12         100000
1           90000
14          72000
9           32500
5           25500
2           25000
7           24000
11          20000
13          18000
6           14400
8           14000
10          14000
4            9600
0            6000
3            5250